body {
    display: block;
    margin-top:  20px;
    
}

#table {
    display: grid;
    grid-column: 2;
    grid-row: auto;
    justify-content: center;
}

header {
    text-align: center;
    text-decoration: underline;
    background-color: gray;
    width: 40%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.balance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0px 20px;
    border: 2px black;
}

#main {
    display: inline-grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
