body {
    display: block;
    margin-top:  20px;
    margin-left: 50px;
    
}

#table {
    display: grid;
    grid-column: 2;
    grid-row: auto;
    justify-content: center;
}

header {
    text-align: center;
    text-decoration: underline;
    background-color: gray;
    width: 78%;
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 4fr;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.balance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:0px 20px;
    background-color: rgb(223, 205, 205);
}

#main {
    display: inline-grid;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}


#header {
    position: sticky;
    text-align: center;
}

#item-list {
    display: grid;
    position: fixed;
    left: 900px;
    top: 130px;
    bottom: auto;
    grid-template-columns: 1fr 4fr;
    margin: 0px;
    overflow: auto;
    height: 80%;
    width: 600px;
    background-color: rgb(223, 205, 205);
    border: 1px black;
    border-style: dashed;
}


.kontenrahmen {
    position: fixed;
    top: 80px;
    left: 1000px;
}

#grid {
    background-color: rgb(223, 205, 205);
    padding: 10px;
    width: 600px;
    margin: auto;
}